---
import HeroAvatar from "./HeroAvatar.astro";
import HeroContent from "./HeroContent.astro";
---

<section class="max-w-6xl mx-auto px-6 py-20 lg:py-32">
    <div class="flex flex-col items-center text-center space-y-8">
        <HeroAvatar />
        <HeroContent />
    </div>
</section>