---
import { Image } from "astro:assets";
import profile from "../../assets/profile1.png";
---

<div class="relative group">
  <!-- Glow -->
  <div
    class="absolute -inset-2 rounded-full
           bg-primary/40 blur-lg
           opacity-0 transition duration-300
           group-hover:opacity-100
           z-0">
  </div>

  <!-- Avatar -->
  <div
    class="relative size-28 rounded-full
           overflow-hidden z-10">
    <Image
      src={profile}
      alt="Professional headshot of a systems engineer"
      width={400}
      height={400}
      class="w-full h-full object-cover"
    />
  </div>
</div>
