<a href="/" class="flex items-center gap-3 transition-transform hover:scale-105">
    <div
        class="size-8 bg-primary/10 rounded-lg flex items-center justify-center border border-primary/20">
        <span class="font-icon text-primary text-2xl">terminal</span>
    </div>
    <span class="font-font-display font-bold tracking-tight">
        Melvin Rodriguez
    </span>
</a>
