---
import "@fontsource-variable/inter";
import "@fontsource/material-icons-outlined";
import "@fontsource-variable/material-symbols-outlined";
import "../styles/global.css";
import Navbar from "../components/navbar/Navbar.astro";
---

<!doctype html>
<html lang="en" class="h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio Melvin Rodriguez</title>
  </head>
  <body class="bg-background text-foreground font-body m-0 h-full w-full">
    <Navbar />
    <main class="pt-20">
    <slot />
<script is:inline>//script mode-dark
  const html = document.documentElement;
  const toggleBtn = document.getElementById("theme-toggle");
  const icon = document.getElementById("theme-icon");
  const mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");

  function applyTheme(theme) {
    if (theme === "dark") {
      html.classList.add("dark");
      localStorage.setItem("theme", "dark");
    } else {
      html.classList.remove("dark");
      localStorage.setItem("theme", "light");
    }
    updateIcon();
  }

  function updateIcon() {
    if (!icon) return;
    icon.textContent = html.classList.contains("dark")
      ? "light_mode"
      : "dark_mode";
  }

  // Initial state of the icon
  updateIcon();

  // Click manual
  toggleBtn?.addEventListener("click", () => {
    const newTheme = html.classList.contains("dark") ? "light" : "dark";
    applyTheme(newTheme);
  });

  // If the user did not choose manually and the system changes
  mediaQuery.addEventListener("change", (e) => {
    if (!localStorage.getItem("theme")) {
      applyTheme(e.matches ? "dark" : "light");
    }
  });
</script>
  </body>
</html>
