---
import "@fontsource-variable/inter";
import "@fontsource/material-icons-outlined";
import "@fontsource-variable/material-symbols-outlined";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio Melvin Rodriguez</title>
  </head>
  <body class="bg-background text-foreground font-body m-0 h-full w-full">
    <slot />
  </body>
</html>
